<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电影排行榜</title>
    <script src="./movie/bundle.js"></script>
</head>

<body>
    <div class="header">
        <h2>电影排行榜</h2>
    </div>
    <div class="main">
        <ul class="movie-list">
            <li class="item">
                <span>Title</span>
                <span>总评分</span>
                <span>豆瓣评分</span>
                <span>淘宝评分</span>
                <span>美团评分</span>
            </li>
            <% for (var i=0 ; i < movie.length; i++) {%>
                <li class="item">
                    <img src="<%= movie[i].imgUrl %>" alt="">
                    <div class="score">
                        <span><%= movie[i].title %></span>
                        <span><%= movie[i].allScore %></span>
                        <span><%= movie[i].doubanScore || 0 %></span>
                        <span><%= movie[i].taobaoScore || 0 %></span>
                        <span><%= movie[i].meituanScore || 0 %></span>
                    </div>
                </li>
                <%}%>
        </ul>
    </div>

    <div class="footer">
        <span>本网站显示的数据都来自网络，数据每12小时更新一次。</span>
    </div>
</body>

</html>
