<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影排行榜</title>
</head>
<body>
    <div class="header">
        <h2>电影排行榜</h2>
    </div>
    <div class="main">
        <ul class="movie-list">
            <% for (var i = 0; i < movie.length; i++) {%>
            <li class="item">
                <img src="<%= movie[i].imgUrl %>" alt="">
                <span class="title"><%= movie[i].title %></span>
                <span class="score"><%= movie[i].allScore %></span>
                <span class="score"><%= movie[i].doubanScore %></span>
                <span class="score"><%= movie[i].taobaoScore %></span>
                <span class="score"><%= movie[i].meituanScore %></span>
            </li>
            <%}%>
        </ul>
    </div>
    <script src="./movie/bundle.js"></script>
</body>
</html>
